[Unit]
Description=Flask Application
After=network.target

[Service]
User=app1
WorkingDirectory=/home/app1/app
ExecStart=/home/app1/app/venv/bin/python app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
